<div class="app-header-container">
    <div class="brand">
        <button class="menu-toggle clickable" type="button">
            <span class="fas fa-bars"></span>
        </button>
        <div class="img-container">
            <img src="assets/img/marca_topo.svg" alt="">
        </div>
    </div>
    <div class="actions">
        <div class="username">
            Nome do Usuário
        </div>
        <div class="notifications">
            <i class="fas fa-bell"></i>
        </div>
        <div class="options">
            <button type="button">
                <i class="fas fa-sign-out-alt" (click)="logout()"></i>
            </button>
        </div>
    </div>
</div>