.btn-outline-success {
    @extend .btn-outline-success;
    border-color: $default_green;
    color: $default_gray;

    &:hover {
        background-color: $default_green;
        border-color: $default_green;
        color: $default_gray;
    }
}