$default_font_size: 16;
$default_font_family: 'Source Sans Pro', Verdana, sans-serif;
$default_background_color: #f7f7f7;
$default_font_color: #464543;

/* header */
$header_bg_color: #464543;
$header_height: 66;
$header_font_color: white;
$header_separator_color: #555555;
$header_menu_icon_size: 20;

/* aside */
$aside_width: 218;
$aside_bg_color: white;
$aside_font_size: 18;

/*  footer */
$footer_font_size: 14;

/* cores */
$default_green: #BBD147;
$default_gray: #464543;