<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="assets/scss/dashboard.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <div class="brand">
            <button class="menu-toggle">
                <span class="fas fa-bars"></span>
            </button>
            <div class="img-container">
                <img src="assets/img/marca_topo.svg" alt="">
            </div>
        </div>
        <div class="actions">
            <div class="username">
                Nome do Usuário
            </div>
            <div class="notifications">
                <i class="fas fa-bell"></i>
            </div>
            <div class="options">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </header>
    <div class="content-container">
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="">
                            <span class="fas fa-th"></span>
                            <span class="texto">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fas fa-user-friends"></span>
                            <span class="texto">RH</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fas fa-cog"></span>
                            <span class="texto">Manutenção</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fas fa-comment"></span>
                            <span class="texto">Comunicação</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fas fa-award"></span>
                            <span class="texto">Qualidade</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="main-container">
            <main>
                <div class="card card-wellcome">
                    <div class="card-body d-flex justify-content-between align-items-center flex-column">
                        <img src="assets/img/marca_login.png" alt="">
                        <h1>Seja bem-vindo ao Helpdesk!</h1>
                        <p class="text-center">Aqui você pode fazer as suas solicitações quando precisar de algo. Fique a vontade para escolher
                            o setor que você precisar que eles terão prazer em ajudar.</p>
                    </div>
                </div>
                <div class="list-container">
                    <h2>Solicitações em aberto</h2>
                    <div class="accordion dashboard-list" id="accordionExample">
                        <div class="list-header d-flex justify-content-between align-items-center">
                                <div class="help-data">Data</div>
                                <div class="help-setor">Setor</div>
                                <div class="help-prioridade">Prioridade</div>
                                <div class="help-icon">
                                </div>
                        </div>
                        <ul class="list-group">
                            <li id="headingOne" class="list-group-item" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                
                                <div class="list-summary d-flex justify-content-between align-items-center">
                                    <div class="help-data">01/10/2018</div>
                                    <div class="help-setor">RH</div>
                                    <div class="help-prioridade">De boa, posso esperar.</div>
                                    <div class="help-icon">
                                        <span class="fas fa-plus"></span>
                                    </div>
                                </div>

                                <div id="collapseOne" class="collapse list-item-details" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    Detalhes não disponíveis.
                                </div>
                            </li>
                            
                            <li id="headingTwo" class="list-group-item" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                
                                    <div class="list-summary d-flex justify-content-between align-items-center">
                                        <div class="help-data">30/09/2018</div>
                                        <div class="help-setor">RH</div>
                                        <div class="help-prioridade">Preciso muito, de verdade!</div>
                                        <div class="help-icon">
                                            <span class="fas fa-plus"></span>
                                        </div>
                                    </div>
    
                                    <div id="collapseTwo" class="collapse list-item-details" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        Detalhes não disponíveis.
                                    </div>
                                </li>

                                <li id="headingThree" class="list-group-item" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                
                                        <div class="list-summary d-flex justify-content-between align-items-center">
                                            <div class="help-data">17/06/2018</div>
                                            <div class="help-setor">TI</div>
                                            <div class="help-prioridade">Urgentão, dos vera!</div>
                                            <div class="help-icon">
                                                <span class="fas fa-plus"></span>
                                            </div>
                                        </div>
        
                                        <div id="collapseThree" class="collapse list-item-details" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            Detalhes não disponíveis.
                                        </div>
                                    </li>
                        </ul>

                    </div>
                </div>



            </main>
            <footer>
                <img src="assets/img/fpf.svg" alt="FPF Logo">
                <div>
                    &copy; 2018 FPFTech. All Rights Reserved.
                </div>
            </footer>
        </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>