<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <main>
            <header>
                <img src="assets/img/marca-login.svg" alt="Logo">
                <h1>Seja bem-vindo</h1>
            </header>
            <div class="form-container">
                <form action="">
                    <div class="form-group">
                        <label for=""></label>
                        <!-- <span class="custom-icon user"></span> -->
                        <input type="text" placeholder="Usuário" class="icon-user">
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <!-- <span class="custom-icon password"></span> -->
                        <input type="password" placeholder="Senha" class="icon-password">
                    </div>
                    <button>Entrar</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>