<div class="app-menu-container aberto">
    <nav>
        <ul>
            <li>
                <a class="btn btn-link disabled">
                    <span class="fas fa-th"></span>
                    <span class="texto">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="btn btn-link disabled">
                    <span class="fas fa-user-friends"></span>
                    <span class="texto">RH</span>
                </a>
            </li>
            <li>
                <a class="btn btn-link disabled">
                    <span class="fas fa-cog"></span>
                    <span class="texto">Manutenção</span>
                </a>
            </li>
            <li>
                <a class="btn btn-link disabled">
                    <span class="fas fa-comment"></span>
                    <span class="texto">Comunicação</span>
                </a>
            </li>
            <li>
                <a class="btn btn-link disabled">
                    <span class="fas fa-award"></span>
                    <span class="texto">Qualidade</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
