@font-face {
    font-family: 'Source Sans Pro';
    src: url('src/assets/fonts/SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('src/assets/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('src/assets/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('src/assets/fonts/SourceSansPro-Regular.woff') format('woff'),
        url('src/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

