*,
*:after,
*:before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: #{$default_font_size}px;
}

body {
    background-color: $default_background_color;
    font-family: $default_font_family;
    color: $default_gray;
}
