    <div class="container">
        <main>
            <header>
                <img src="assets/img/marca-login.svg" alt="Logo">
                <h1>Seja bem-vindo</h1>
            </header>
            <div class="form-container">
                <form action="">
                    <div class="form-group">
                        <label for=""></label>
                        <!-- <span class="custom-icon user"></span> -->
                        <input type="text" placeholder="Usuário" class="icon-user">
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <!-- <span class="custom-icon password"></span> -->
                        <input type="password" placeholder="Senha" class="icon-password">
                    </div>
                    <button (click)="send()">Entrar</button>
                </form>
            </div>
        </main>
    </div>